@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body{

    margin: auto;
    text-align: center;
    font-family: 'Baskervville', serif;
    line-height: 1.5;
    font-size: 16;
    color:white;
}

/* This allows you to be able to position html elements starting from the top left instead of displaying as block under p5.js canvas */
#html-body{
    position: absolute;
    top: 0;
    left: 0;
    
}

h1 {
  font-family: 'Lilita One', cursive;
  line-height: 1.5;
  font-size: 35;
  color: white;
}

h2 {
  font-family: 'Baskervville', serif;
  line-height: 1.5;
  font-size: 25;
  color:white;
}




.text {
  position: absolute;
  text-align: left;
  bottom: 0;
  background: #FEBCFB;
  padding-bottom: 30px;
  padding-top: 0px;
  padding-left: 220px;
  padding-right: 130px;

}

.contbutton {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #BEA5FE;
  color:white;
  margin-bottom: 20px;
  font-size: 16px;

}
  
  .startbutton {
    display: inline-block;
    border-radius: 4px;
    background-color: #FEBCFB;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 350px;
    
  }


  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #FEBCFB;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
    
  }

  
  .startbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .startbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .startbutton:hover span {
    padding-right: 25px;
  }
  
  .startbutton:hover span:after {
    opacity: 1;
    right: 0;
  }






  .btn-group {
    text-align: center;
    cursor: pointer;
    width: 400px;
    display: block;
    margin-left: 500px;
    margin-top: 90px;

  }

  .button:hover {
    background-color: #BEA5FE;
    color: white;
  }

  #my-day {
    margin-left: 500px;
    text-align: center;
    margin-top: 50px;
    background: #FEBCFB;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .returnbutton {
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #BEA5FE;
    color:white;
    margin-bottom: 20px;
    font-size: 16px;
  }