body{

    margin: 0;
    text-align: center;
}

/* This allows you to be able to position html elements starting from the top left instead of displaying as block under p5.js canvas */
#html-body{
    background-image: url("images/jtown.jpg");
    position: absolute;
    top: 0;
    left: 0;
    
}



.place{
    transition: all .2s ease-in-out;
}

.place:hover{
    transform: scale(1.1);
}

.button {
    text-align: center;
    margin: auto;
}