body{
    /* background-color: black; */
    background-image: url("images/sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    margin: 0;
    
}

/* This allows you to be able to position html elements starting from the top left instead of displaying as block under p5.js canvas */
#html-body{
   
    position: absolute;
    top: 0;
    left: 0;
}

.offer{
    border: 1px dotted black;
    position: absolute;
    width: 400px;
    height: 400;
    padding-left: 10px;
    top: 600;
    left: 800;
}

#tea{
    display: none;
    z-index: 2;
}